<h1>Herbal Property: <%= @property.name.capitalize %></h1>
<div class="property">
  <h2><%= @property.definition.capitalize %>.</h2>
</div>
<div class="herbs">
  <h2>Herbs with this property:</h2>
  <ul>
  <% @property.herbs.each do |herb| %>
    <li><%= link_to herb.name, herb_path(herb.plant_id) %></li>
  <% end %>
  </ul>
</div>
