<h1>Welcome to the Herbal Notebook, kind stranger!</h1>

<h3>This is a work in very early progress. The current data is from my personal material medica but is not complete. I am currently working on the underlying architecture and am looking forward to a more complete dictionary.</h3>

<h2><%= link_to 'Care to browse our little herbal dictionary?', herbs_path %></h2>
