/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica);

$darkergreen: #10591C;
$darkgreen: #12661E;
$lightgreen: #B2FFC2;
$lightergreen: #D1FFDC;
$golden: #DCC637;
$darkgolden: #DCB00D;

nav {
  background: $darkgreen;
  color: $lightgreen;
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  font-family: 'IM Fell DW Pica', serif;
  a {
    color: $lightgreen;
    text-decoration: none;
  }
  a:hover {
    color: $golden;
  }
  .logo {
    font-size: 3em;
    padding: .2em .25em 0em .25em;
  }
  .session_nav {
    display: inline-flex;
    font-size: 1.5em;
    a {
      padding: 1em;
    }
    a:hover {
      background: $darkergreen;
    }
  }
}
.nav_underscore {
  height: 3px;
  background: $golden;
}
.notice {
  color: $darkgreen;
  background: $lightergreen;
}
.error {
  color: maroon;
}
.field_with_errors {
  display: inline;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 1em;
  box-sizing: border-box;
}

.signin-form {
  width: 26em;
  border: 1px solid $darkgreen;
  padding: 2em;
  margin: 2em auto;
  background: $lightergreen;

  div {
    padding: .3em 0;
  }

  label {
    display: inline-block;
    width: 11em;
  }

  input[type=submit] {
    margin-left: 11.3em;
    background: $golden;
    border: 2px solid $darkgolden;
  }
}
